script(src='/javascripts/conference.js')
script(src='/javascripts/day.js')
script(src='/javascripts/track.js')

.content-fluid
	.content
		h1 your conference
		div.left
			form(method='post')
				p title
					input(type="text", name="user[name]")

					h2 days

					div.add_new_day
						a#new_day(href="#") new day
					div#days
			div.clear

		div#tracks
			div oi
