script(src='/javascripts/conference.js')

.form_container
  .content

    h1 Add your conference
    div#result.alert-message
      a.close(href='#') ×
      p.message

    form#conference(method='POST', action='/conference')
      div.left
        p
          h3 Title
          input(type='text', name='conference[title]')
        p
          h3 Venue
          input(type='text', name='conference[venue]')
      div.left
        p
          h3 Description
          textarea#description(name='conference[description]')
        input#conference_button.btn.save.primary(type='submit', value='Save')
      div.clear

    h1 Talks
    div#new_talk.btn.primary New
    table#talks_table.zebra-striped
      thead
        tr
          th Title
          th Start
          th End
          th Authors
          th Tracks
      tbody
