script(src='/javascripts/conference.js')

.form_container
  .content

    h1 your conference
    div#result.alert-message
      a.close(href='#') ×
      p.message

    form#conference(method='POST', action='/conference')
      div.left
        p
          h3 title
          input(type='text', name='conference[title]')
        p
          h3 where?
          input(type='text', name='conference[venue]')
      div.left
        p
          h3 description
          textarea#description(name='conference[description]')
        input#conference_button.btn.save.primary(type='submit', value='save')
      div.clear

    h1 talks
    div#new_talk.btn.primary new
    table#talks_table.zebra-striped
      thead
        tr
          th title
          th start
          th end
          th authors
          th tracks
          th 
      tbody
