form(method='POST')
  div.left
    p
      h4 title
      input(type='text')
    p
      h4 tracks
      input(type='text')
      div.tips
        i (separated by comma)
    p
      h4 authors
      input(type='text')
      div.tips
        i (separated by comma)
    div.clear

  div.left
    p
      h4 start
      input#start(type='text')
    p
      h4 end
      input#end(type='text')
    div.clear

  div.clear
