.header
  h1#twetalk-logo
    span t
    span.we we
    span talk

.box.container
  
  h3 About
  
  p We allow attendees and presenters of a talk to interact with each other through tweets. Accessing our App, they are able to add conferences with their respective talks and once that is done...
  
  p Presenters can:
  
  ul
  
    li have feedback on their presentations
    li notify public about related news (share slides, etc)
  
  p Attendees can:
  
  ul
  
    li provide feedback
    li discuss talk contents and subject
    li know other attendees
    li look for presentation news
  
  p Tweets sent to a talk are always accessible, so you are able to check what is going on whenever you want.
  
  p Instructions:
  
  p It wasn't tested against Internet Explorer, so it probably doesn't work on it. Should work fine in webkit browsers (Chrome and Safari) as well as Firefox.
  
  p First of all, go to http://latest-build.nko2.nodeknockout.com/ :)
  
  p Once you are there, you'll be able to check for the upcoming conferences, and we believe you might have an awesome conference to add. For that, click on 'Add your conference'.
  
  p Fill the forms with the conference info and add as many talks as it have. This part is kind of painful, but think how cool it's going to be when all the attendees and presenters are interacting with each others thanks to you :P
  
  p Save it and your conference is now listed on the home screen \o/. When clicking on it, everybody will be able to see a schedule with the available talks and that's where the fun starts. Check out the 'Login with Twitter' button on the upper left corner. You guessed right: time to login :D
  
  p Now, click on a talk, that one you are willing to see. You'll see that a new widget will open. Drag and resize it at your will. Nothing on there? Time to start tweeting about it. What about "That talk looks great. I'm looking forward to see it!"?
  
  p Congratulations! You are the first one to twetalk and everybody who is looking for that talk is already seeing your message. Very soon others will join you :D
  
  p We would like to thank all the creators and contributors of the following packages:
  
  ul
    
    li nko
    li express
    li jade
    li now
    li underscore
    li everyauth
    li mongoose
    li twitter
    li superagent
    li qs
  
  p APIs used:
  
  ul
    
    li Twitter
  
  p JS libs:
  
  ul
    
    li jQuery
    li jQuery UI
    li FullCalendar
  
  p CSS libs:
  
  ul
    
    li twitter bootstrap
  
  p Tools:
  
  ul
    
    li VIm
    li TextMate
    li Sublime Text
    li MongoDB
    li nodemon
    li MongoHub
  
  p Brought to you by the Latest Build team from Node Knockout<http://nodeknockout.com/>:
  
  ul
    
    li lucastorri 
    li gtramontina
    li nettofarah
    li functioncallback
  
  img(src='')