table.zebra-striped
  thead
    tr
      th
      th Track 1
      th Track 2
      th Track 3
      th Track 4
  tbody
    tr
      td 09:00 AM
      td.talk(id='1') Talk1
      td.talk(id='2') Talk2
      td.talk(id='3') Talk3
      td.talk(id='4') Talk4
    tr
      td 01:00 PM
      td.talk(id='5') Talk5
      td.talk(id='6') Talk6
      td.talk(id='7') Talk7
      td.talk(id='8') Talk8
    tr
      td 05:00 PM
      td.talk(id='9') Talk9
      td.talk(id='10') Talk10
      td.talk(id='11') Talk11
      td.talk(id='12') Talk12
