table.zebra-striped
  thead
    tr
      th
      th Track 1
      th Track 2
      th Track 3
      th Track 4
  tbody
    tr
      td 09:00 AM
      td Talk
      td Talk
      td Talk
      td Talk
    tr
      td 01:00 PM
      td Talk
      td Talk
      td Talk
      td Talk
    tr
      td 05:00 PM
      td Talk
      td Talk
      td Talk
      td Talk
