.header
  h1#twetalk-logo
    span t
    span.we we
    span talk

.home.container
  h3 Upcoming events
  .upcomingEvents
    - each conference in conferences
      a(href='/conference/view/'+conference.slug)=conference.title
