.container-fluid
  
  .content
    
    h1 JS Conf
    
    input.btn.primary.disabled(type='button', value='Day 1')
    input.btn(type='button', value='Day 2')
    input.btn(type='button', value='Day 3')
    
    table.zebra-striped
      thead
        tr
          th
          th Track 1
          th Track 2
          th Track 3
          th Track 4
      tbody
        tr
          td 09:00 AM
          td Talk
          td Talk
          td Talk
          td Talk
        tr
          td 01:00 PM
          td Talk
          td Talk
          td Talk
          td Talk
        tr
          td 05:00 PM
          td Talk
          td Talk
          td Talk
          td Talk
  
  .sidebar
    table
      thead
        tr
          th Tweetalk
      tbody
        tr
          td Tweet
        tr
          td Tweet
        tr
          td Tweet
        tr
          td Tweet
        tr
          td Tweet
