.header
  h1#twetalk-logo
    span t
    span.we we
    span talk

.box.container
  #addConference
    a(href='/conference/new')
      h3 Add your conference
  h3 Upcoming events
  .upcomingEvents
    - each conference in conferences
      div
        a(href='/conference/view/'+conference.slug)=conference.title