!!! 5
html
  head
    title='latest-build'
    link(rel='stylesheet', href='/stylesheets/third-party/bootstrap-1.1.0.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/third-party/jquery.min.js')
    script(type='text/javascript', src='/nowjs/now.js')
    script(type='text/javascript', src='/javascripts/tweetalk.js')
  body!=body