!!! 5
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/third-party/bootstrap-1.1.0.min.css')
    link(rel='stylesheet', href='/stylesheets/third-party/jquery.tagsinput.css')
    link(rel='stylesheet', href='/stylesheets/third-party/jquery.ui.css')

    link(rel='stylesheet', href='http://arshaw.com/js/fullcalendar-1.5.2/demos/cupertino/theme.css')
    link(rel='stylesheet', href='http://arshaw.com/js/fullcalendar-1.5.2/fullcalendar/fullcalendar.css')
    link(rel='stylesheet', href='http://arshaw.com/js/fullcalendar-1.5.2/fullcalendar/fullcalendar.print.css', media='print')

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascripts/third-party/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/third-party/jquery-ui-timepicker-addon.js')
    script(type='text/javascript', src='/javascripts/third-party/jquery.tagsinput.min.js')
    script(type='text/javascript', src='/javascripts/third-party/jquery.form.js')
    script(type='text/javascript', src='http://arshaw.com/js/fullcalendar-1.5.2/fullcalendar/fullcalendar.min.js')

    script(type='text/javascript', src='/nowjs/now.js')
    script(type='text/javascript', src='/javascripts/index.js')
    script(type='text/javascript', src='/javascripts/tweetalk.js')
  body!=body
