!!!
html
  head
    title='latest-build'
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body!= body