!!! 5
html
  head
    title='latest-build'
    link(rel='stylesheet', href='/stylesheets/third-party/bootstrap-1.1.0.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.ui.css')
    link(rel='stylesheet', href='/stylesheets/jquery.tagsinput.css')
    script(type='text/javascript', src='/javascripts/third-party/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/third-party/jquery-ui-timepicker-addon.js')
    script(type='text/javascript', src='/javascripts/third-party/jquery.tagsinput.min.js')
    script(type='text/javascript', src='/javascripts/third-party/jquery.form.js')
    script(type='text/javascript', src='/nowjs/now.js')
    script(type='text/javascript', src='/javascripts/index.js')
    script(type='text/javascript', src='/javascripts/tweetalk.js')
  body!=body
