h3 Tweetalk

table
  tbody
    tr
      td Tweet
    tr
      td Tweet
    tr
      td Tweet
    tr
      td Tweet
    tr
      td Tweet

form
  input.tweetalk-input(type='text')
  input.tweetalk-submit.btn.primary(type='submit', value='Tweet')
