.tweetalk(data-room=roomId)
  ul.stream
  - if (!everyauth.loggedIn)
      p Login to Tweet
  - else
      form
        input.tweetalk-input(type='text', name='tweet')
        input.tweetalk-submit.btn.primary(type='submit', value='Tweet')