@font-face {
  font-family: 'Expletus Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Expletus Sans Bold'), local('ExpletusSans-Bold'), url('fonts/ExpletusSans-Bold.woff') format('woff');
}

body {
  margin-top: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#twetalk-logo { font-size: 42px; font-family: 'Expletus Sans', cursive; }
#twetalk-logo span { color: #555; }
#twetalk-logo span.we { color: #4099FF; }
#twetalk-logo span.conference { font-size: 33px; }

div.header h1 { text-align: center; }
div.form_container { padding-top:30px; margin: 20px; }

form input.tweetalk-input { width: 170px; }
form input.tweetalk-submit { width: 70px; }

div.day { padding:8px; padding-top:20px;}
div.day:hover{ background:#0069D6; color:#FFFFFF;}

div.left { float:left; margin-right:40px;}
div.clear { clear: both;}

textarea#description { height:52px; width: 100%; min-width:600px;}

div.tips { font-size: 10px; text-align:right; }
.talk { cursor: pointer; }

#result { max-width:230px;}
span.success { background:#68AAF4; }
span.fail {background: #EA626C; }

div.upcomingEvents a { display: block; }

#credentials { position: absolute; top: 10px; left: 10px; }
#signed-in-as { position: absolute; top: 8px; width: 300px; }
#home-icon, #twitter-login, #signed-in-as { display: inline-block; }
#home-icon { margin-right: 10px; }
#home-icon a img, #twitter-login a img, #info a img { opacity: 0.8; }
#home-icon a img:hover, #twitter-login a img:hover, #info a img:hover { opacity: 1.0; }
#info { position: absolute; top: 10px; right: 12px; }

span.fc-header-title h2 { font-size: 16px; }

table.fc-agenda-days thead th { padding: 5px 0; }

div.box.container {
  border: 1px solid #999; padding: 7px 15px 15px 15px; margin-bottom: 25px;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ddd');
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background: -moz-linear-gradient(top, #eee, #ddd);
}

div.box.container ul { margin: 0 0 15px 0; }
div.box.container ul li { margin-left: 18px; }

iframe.vote { margin-left: 10px; }