body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.header { margin: 10px; }
div.header h1 { margin-left: 5px; }
div.container { margin: 0; width: auto; }
div.container div.content { margin-right: 250px; }
div.container div.sidebar { top: 10px; right: 0; position: absolute; width: 250px; }

form input.tweetalk-input { width: 170px; }
form input.tweetalk-submit { width: 70px; }
